body {
    background-color: #f6f9f9;
    color: rgb(38, 38, 38);
}

.button {
    background-image: linear-gradient(165deg, rgb(38, 214, 196) 0%, rgb(16, 177, 211) 100%);
    border-width: 0;
    box-shadow: rgba(28, 197, 203, 0.5) 0px 2px 15px 0px;
    color: white;
    border-radius: 4px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 9px;
    padding-bottom: 9px;
    outline: none;
}

.button:active {
    transform: translateY(1px);
}
